<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/dashboard">HOME</a>
  <!-- Toogler -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Addition
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/party">Party</a>
          <a class="dropdown-item" routerLink="/group">Item Group</a>
          <a class="dropdown-item" routerLink="/item">Item Name</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Voucher
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="new_buy.php">Buy</a>
          <a class="dropdown-item" href="new_sell.php">Sell</a>
          <a class="dropdown-item" href="new_payment.php">Payment Entry</a>
          <a class="dropdown-item" href="new_caret.php">Caret Entry</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Reports
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="customer_bill_report.php"
            >Customer Bill Reports</a
          >
          <a class="dropdown-item" href="farmer_bill_report.php"
            >Farmer Bill Reports</a
          >
          <a class="dropdown-item" href="daily_report.php">Daily Reports</a>
          <a class="dropdown-item" href="person_wise_report.php"
            >Person Wise Reports</a
          >
          <a class="dropdown-item" href="caret_report.php">Caret Reports</a>
          <a class="dropdown-item" href="account_info.php"
            >Account Information</a
          >
          <a class="dropdown-item" href="blacklist.php">Blacklist Report</a>
        </div>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" href="settings.php">Settings</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Logs
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="log_login.php">Login/Logout</a>
          <a class="dropdown-item" href="log_payment.php">Payment</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="change_pass.php">Change My Password</a>
      </li>

      <li class="nav-item pull-right">
        <a class="nav-link" href="logout.php">Logout</a>
      </li>
    </ul>
  </div>
</nav>
