<app-toolbar></app-toolbar>
<div flexLayout="row" flexLayoutAlign="start start">
  <div fxFlex="30" style="padding: 20px;">
    <mat-card>
      <mat-card-title>New Group</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Group Name</mat-label>
          <input
            matInput
            [(ngModel)]="newGroup.name"
            name="name"
            required
            class="guj"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Farmer Commission</mat-label>
          <input matInput [(ngModel)]="newGroup.fcom" name="fcom" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Farmer Wage</mat-label>
          <input matInput [(ngModel)]="newGroup.fwage" name="fwage" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Customer Commission</mat-label>
          <input matInput [(ngModel)]="newGroup.ccom" name="ccom" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Customer Wage</mat-label>
          <input matInput [(ngModel)]="newGroup.cwage" name="cwage" required />
        </mat-form-field>
        <p class="error" *ngIf="error">{{ error }}</p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-raised-button
          color="primary"
          (click)="insertGroup()"
          disabled="{{ insert }}"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="updateGroup()"
          disabled="{{ update }}"
        >
          Update
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="70" style="padding: 20px;">
    <mat-card>
      <mat-card-title>All Groups</mat-card-title>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="naama"
          class="guj"
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let group" class="guj">
            {{ group.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Farmer Commission">
          <th mat-header-cell *matHeaderCellDef>Farmer Commission</th>
          <td mat-cell *matCellDef="let group">
            {{ group.fcom }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Farmer Wage">
          <th mat-header-cell *matHeaderCellDef>Farmer Wage</th>
          <td mat-cell *matCellDef="let group">{{ group.fwage }}</td>
        </ng-container>
        <ng-container matColumnDef="Customer Commission">
          <th mat-header-cell *matHeaderCellDef>Customer Commission</th>
          <td mat-cell *matCellDef="let group">{{ group.ccom }}</td>
        </ng-container>
        <ng-container matColumnDef="Customer Wage">
          <th mat-header-cell *matHeaderCellDef>Customer Wage</th>
          <td mat-cell *matCellDef="let group">{{ group.cwage }}</td>
        </ng-container>
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let group">
            <button mat-icon-button color="primary" (click)="edit(group.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let group">
            <button mat-icon-button color="warn" (click)="delete(group.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="[5]"
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </mat-card>
  </div>
</div>
