.center {
  flex: 1 1 auto;
  text-align: center;
  align-self: center;
  align-content: center;
}
.main-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  padding: 8px;
  color: white;
  background-color: red;
}
