<app-toolbar></app-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          New Party
        </div>
        <div class="card-body">
          <label class="control-label">Name</label>
          <input
            required
            type="text"
            name="name"
            [(ngModel)]="party.name"
            class="form-control guj"
          />
          <label class="control-label">Type</label>
          <select class="form-control" name="type" [(ngModel)]="party.type">
            <option selected value="0">Customer</option>
            <option value="1">Farmer</option>
          </select>
          <label class="control-label">Contact</label>
          <input
            required
            type="text"
            name="contact"
            [(ngModel)]="party.contact"
            class="form-control guj"
          />
          <label class="control-label">Pending Amount</label>
          <input
            required
            type="text"
            name="pending_amount"
            [(ngModel)]="party.pending_amount"
            class="form-control guj"
          />
        </div>
        <div class="card-footer">
          <div class="btn-toolbar">
            <button
              type="button"
              (click)="insertParty()"
              class="btn btn-primary"
              id="insert"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateParty()"
              id="update"
            >
              Update
            </button>
            <button type="button" class="btn btn-dark">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          All Parties
        </div>
        <div class="card-body">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table-bordered hover"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Contact</th>
                <th>Pending Amount</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let party of parties">
                <td class="guj">{{ party.name }}</td>
                <td>{{ party.type == 0 ? "Customer" : "Farmer" }}</td>
                <td>{{ party.contact }}</td>
                <td>{{ party.pending_amount }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="edit(party.id)"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
